body {
  margin-top: 105px; }

/* header */

#showcase {
  background-image: linear-gradient(rgba(50, 146, 166, 0.8), rgba(50, 146, 166, 0.8)), url(../img/mountains.jpg);
  position: relative; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; } }
.mb-resp {
  margin-bottom: 1rem; }
