/* header */

#showcase {
    background-image: linear-gradient(rgba(50, 146, 166, 0.8), rgba(50, 146, 166, 0.8)), url(../img/mountains.jpg);
    position: relative;
    margin-top: 100px;
}

@media (max-width: 768px) {
    #showcase {
        min-height: 500px;
    }
    #showcase h1 {
        font-size: 4rem;
    }
}

.mb-resp {
    margin-bottom: 1rem;
}


/* end header*/


/* start nav*/

nav {
    background-color: aliceblue;
    padding: 20px !important;
    opacity: 0.8;
    top: 0;
    position: fixed !important;
    z-index: 100;
    width: 100%;
}

nav img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar .navbar-brand h2 {
    margin-top: 5px;
    text-transform: capitalize;
}

nav .collapse ul li {
    margin-left: 15px;
    color: red !important;
    font-size: 25px;
}

nav .collapse ul li a {
    color: rgba(0, 0, 0, 0.5);
}

nav .collapse ul li a:hover {
    color: rgba(0, 0, 0, 0.6);
}


/*end nav*/


/* start boxes*/

.boxes {
    padding: 50px 0;
}

.boxes .card {
    margin-right: 20px;
    text-align: center;
    border: 1px solid #3292a6;
}

.boxes .card2,
.boxes .card4 {
    background-color: #3292a6;
}

.boxes .card .card-body {
    padding: 1.5rem 0;
}

.boxes .card1 .card-body h5,
.boxes .card3 .card-body h5 {
    color: #3292a6;
    font-size: 30px;
    text-transform: capitalize;
}

.boxes .card2 .card-body h5,
.boxes .card4 .card-body h5 {
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}

.boxes .card1 .card-body p,
.boxes .card3 .card-body p {
    color: #6c757d
}

.boxes .card2 .card-body p,
.boxes .card4 .card-body p {
    color: white;
}

@media (max-width: 768px) {
    .boxes .card {
        margin-top: 15px
    }
}


/* end boxes*/


/* start about section */

#about {
    background-color: #f8f9fa;
}

#about .heading h2 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
    padding-bottom: 1.25rem
}

#about .heading p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2.25rem;
}

#about #according {
    margin-top: 2.25rem;
}

#about .card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

#about .card .card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: .30rem 0;
    margin-bottom: 0;
}

#about .card .card-header h2 .btn-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #212529;
}

#about .card .card-header h2 .btn-link:hover {
    color: #212529;
}


/* end about section */


/* start authors section */

.authorsSection {
    width: 100%;
}

.authorsSection .top h2 {
    color: #3292a6;
    font-size: 47px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.authorsSection .top p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #212529;
}

.authorsSection hr {
    margin-top: 20px;
    width: 50%;
    text-align: center;
}

.authorsSection .bottom .bottom-cards .card-body-container .card-body {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0%;
    top: -10%;
    transform: translate(0, -10%);
    font-family: 'Roboto';
}

.authorsSection .bottom .bottom-cards .card-body-container .card-body h3 {
    font-weight: 500;
}

.authorsSection .bottom .bottom-cards .card-body-container .card-body h5 {
    color: #6c757d;
}

.authorsSection .bottom .bottom-cards .card-body-container .card-body .icons {
    color: #fff;
}

.authorsSection .bottom .bottom-cards .card-body-container:hover {
    background-color: #3292a6;
    transition: 0.2s ease-in-out;
}

.authorsSection .bottom .bottom-cards .card-body-container:hover h3 {
    color: #fff;
}

.authorsSection .bottom .bottom-cards .card-body-container:hover p {
    color: #fff;
}


/* end authors section  */


/* start of contact  */

#contact {
    background-color: rgb(248, 249, 250);
    color: #212529;
}

#contact .Input .iconDiv {
    background-color: rgb(233, 236, 239);
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* height: 100%; */
}

#contact .Input .iconDiv i {
    padding: 15px;
    font-weight: 900;
    height: 100%;
    color: #495057;
    font-size: 1.25rem;
}

#contact .Input .mine {
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    color: #495057;
}

#contact .myStyle {
    color: rgb(255, 255, 255);
    ;
    background-color: #3292a6;
    border: none;
    border-color: #3292a6;
    margin-top: 10px;
}

#contact .myStyle:hover {
    background-color: #297889;
}

#contact .imgDiv {
    height: 100%;
}


/* end of contact  */


/* footer  */

.end {
    background-color: #3292a6;
}

.end p {
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}


/* footer end */