$primary:#3292a6;
// rgba(50,146,166,.8)


body{
    margin-top: 105px;
}
 
.navbar{
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #fff;

    .nav-item {
        font-size: 1.4rem;
        padding-right: 1.4rem;
    }
}

#showcase{
    background-image: linear-gradient(rgba(50,146,166,.8),rgba(50,146,166,.8) ), url( ../img/mountains.jpg);
    position: relative;
}

.info-head{
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #ccc;
}

#authors{
    img{
        margin-top: -50px;
    }
    .card{transition : all .2s ease-in-out ;}
    .card:hover{
        background-color: $primary;
        color: #fff;
    }
    .fab{
        color: #fff;
    }
}





@media (max-width: 768px){
    #showcase{
        min-height: 500px;

        h1{
            font-size: 4rem;
        }
    }
}
.mb-resp{
    margin-bottom: 1rem;
}










